@import 'components';
@import 'bootstrap';

body{
    background:#F8F9FA;
    font-family: 'Inter', sans-serif;

    header{
        
    }

    main{
        .container{
            .welcome{
                height:50%;
            }

            .tour{
                
            }
        }
    }

    footer{

    }
}